* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}
body {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 60px 40px minmax(600px, auto);
  height: 100vh;
  position: relative;
}
.two-third-width{
  display: grid;
  grid-column: 1/3;
}
header {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  grid-column: 1/ -1;
  grid-row: 1;
  background-color: rgb(185, 185, 250);
}
.user-status {
  position:fixed;
  top: 55px;
  left: 0;
  right: 0;
  text-align: center;
  background-color: pink;
  grid-column: 1/ -1;
  grid-row: 2;
}
.user-status button {
  border: solid blue 2px;
  height: 30px;
  width: 100px;
  margin: 5px 10px 5px;
}
.logout:not(.in) {
  display: none;
}
.in {
  border: solid blue 2px;
  height: 30px;
  width: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.myMessages:not(.in) {
display: none;
}
.site-name {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  color: rgb(78, 75, 75);
  font-size: 30px;
}
.search-bar {
  position: fixed;
  /* bottom: 60px;
  left: 10px; */
  width: 500px;
  top: 60px;
  left: 30px;
}
#post-search {
  border: solid black 1px;
  height: 30px;
}
#search-label {
  background-color: rgb(224, 216, 216);
  height: 25px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 0;
}
.search-bar button {
  background-color: rgb(224, 216, 216);
  height: 25px;
  width: 70px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: solid rgb(128, 124, 124) 1px;
}

.post-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  /* overflow-y: scroll; */
}
/* .header {
  display: none;
} */
.posts-header {
  display: block;
  text-align: center;
  color: rgb(10, 2, 58);
  background-color: rgb(248, 218, 242);
  height: 30px;
  padding-top: 5px;
}
.full-width {
  grid-column: 1/4;
}
main{
  display: grid;
  grid-column: 2/3;
}
.post-form {
  position: fixed;
  top: 100px;
  right: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.make-post-head {
  display: grid;
  grid-column: 3/4;
  text-align: center;
  background-color: rgb(231, 21, 32);
  height: 30px;
  font-size: 25px;
  color: rgb(242, 248, 248);
  margin-top: 2px;
}
#post-body {
  height: 200px;
  width: 350px;
  margin: 0px 0px 10px 25px;
  border: 1px solid rgb(170, 166, 166);
  border-radius: 7px;
}
#post-title,
#post-price,
#post-location {
  width: 350px;
  height: 25px;
  border: 1px solid rgb(170, 166, 166);
  margin: 0px 0px 10px 25px;
  border-radius: 6px;
}
#willDeliver {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  border: 1px solid rgb(170, 166, 166);
  border-radius: 6px;
}
label {
  padding-left: 22px;
  color: indigo;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}
#submit-post {
  height: 30px;
  border: indigo 2px solid;
  border-radius: 6px;
  color: indigo;
  text-align: center;
  font-size: 20px;
  margin: 5px 25px 0 25px;
}

.modal:not(.open) {
  display: none;
}

.modal.open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(6px);
}
.modal .content {
  font-family: "Noto Sans", sans-serif;
  width: 400px;
  padding: 12px;
  min-height: 200px;
  background: rgb(245, 111, 111);
  box-shadow: 0 2px 12px -8px black;
}

.modal h3 {
  font-size: 18px;
  margin-bottom: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #888;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal label {
  margin: 12px 0 4px 0px;
  text-align: left;
  font-size: 15px;
  padding-left: 0;
}

.modal input,
.modal textarea {
  background: rgb(255, 251, 251);
  padding: 8px;
  font-size: 22px;
}

.modal .actions {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal .action {
  border-radius: 6px;
  box-shadow: 0 2px 6px -2px black;
  cursor: pointer;
}

.modal .action.when-invalid {
  background: #777;
}

.modal .action:not(.when-invalid):hover {
  background: #33f;
}

.modal .action:not(:first-of-type) {
  margin-left: 12px;
}

.modal .action span {
  margin-left: 6px;
  font-weight: bold;
  letter-spacing: 1.1;
  text-transform: uppercase;
}

.modal input:invalid:required {
  border-bottom: 3px solid red;
}

.modal input:valid:required + h5 {
  display: none;
}

.modalLogin:not(.open) {
  display: none;
}

.modalLogin.open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(6px);
}
.modalLogin .contentLogin {
  font-family: "Noto Sans", sans-serif;
  width: 400px;
  padding: 12px;
  min-height: 200px;
  background: rgb(186, 222, 243);
  box-shadow: 0 2px 12px -8px black;
}

.modalLogin h3 {
  font-size: 18px;
  margin-bottom: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #888;
}

.modalLogin form {
  display: flex;
  flex-direction: column;
}

.modalLogin label {
  margin: 12px 0 4px 0px;
  text-align: left;
  font-size: 15px;
  padding-left: 0;
}

.modalLogin input,
.modalLogin textarea {
  background: rgb(250, 248, 248);
  padding: 8px;
  font-size: 22px;
}

.modalLogin .actions {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modalLogin .action {
  border-radius: 6px;
  box-shadow: 0 2px 6px -2px black;
  cursor: pointer;
}

.modalLogin .action.when-invalid {
  background: #777;
}

.modalLogin .action:not(.when-invalid):hover {
  background: #33f;
}

.modalLogin .action:not(:first-of-type) {
  margin-left: 12px;
}

.modalLogin .action span {
  margin-left: 6px;
  font-weight: bold;
  letter-spacing: 1.1;
  text-transform: uppercase;
}

.modalLogin input:invalid:required {
  border-bottom: 3px solid red;
}

.modalLogin input:valid:required + h5 {
  display: none;
}

.login {
  display: none;
}
.visible {
  display: inline-block;
}
.invisible {
  display: none;
}
aside {
  display: none;
}
.pop-up {
  display: grid;
  grid-column: 2/3;
}
.post-tab {
  display: inline-flexbox;
  border: 1px solid grey;
  min-height: 400px;
  width: 350px;
  margin: 15px 5px 5px;
}
.post-tab p {
  margin: 10px 5px 0px 5px;
  font-size: 18px;
}
.post-tab h2 {
  margin: 5px;
  color: rgb(29, 19, 122);
  text-align: center;
}

.post-holder {
  margin-top: 100px;
}
.edit-post {
  height: 40px;
  width: 80px;
  background-color: rgb(145, 74, 216);
  color: yellow;
  margin-left: 10px;
  margin-top: 50px;
  font-weight: 700;
}
.delete-post {
  height: 40px;
  width: 80px;
  background-color: rgb(165, 33, 88);
  color: rgb(236, 195, 11);
  margin-left: 10px;
  margin-top: 50px;
  font-weight: 700;
}
.send-message {
  height: 40px;
  width: 80px;
  background-color: rgb(3, 50, 112);
  color: yellow;
  margin-left: 10px;
  margin-top: 50px;
  font-weight: 700;
}

.messageForm{
  display: flex;
}


#messageBody {
  float: left;
  border: 1px solid rgb(50, 61, 61);
  height: 80px;
  width: 250px;
  margin: 5px;

}
.messageButton {
  margin-top: 55px;
  background-color: lavender;
  font-weight: 600;
  color: purple;
  height: 30px;
  width: 60px;
}
.messagesHeader{
  background-color: yellow;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.message-container:not(.messageUp){
  display: none;
  width: 100%;
  height: 100%;
}
.messageUp{
  grid-column: 1/2;
  position: fixed;
  top: 100px;
}
.postMiddle{
  display: grid;
  grid-column: 2/3;
}
